@media (max-width: 340px) {
    :root {
      --logo-size: 80px;
      --menu-item-size: 60px;
      --menu-item-sep: -80px;
      --menu-item-fs: 2rem;
    }

    .loading-screen img{
      width:80%;
    }
    div.escuchar__links{
      height: 22vh;
      flex-direction: column;
      gap: 1rem;
      margin-bottom: 15vh;
      text-align: center;
    }

    div.escuchar__links .left{
      text-align: center;
    }
    
    .escuchar__links__container{
     gap:1rem;
    }
    
    .square{
      flex: 0 0 200px;
      height: 200px;
      
    }

  }
  @media  (orientation:portrait) {
    .miembro img{
      border-width: 6px;
    }
    .miembro.dani {
      grid-column: 3 / span 7;
      grid-row: 2 / span 6;
      
    }
    .miembro.sara {
      grid-column: 9 / span 7;
      grid-row: 5 / span 4;
      
    }
    .miembro.dario {
      grid-column: 10 / span 6;
      grid-row: 13 / span 6;
      
    }
    .miembro.fran {
      grid-column: 2 / span 7;
      grid-row: 13 / span 6;
      
    }
    .miembro.jorge {
      grid-column: 2 / span 8;
      grid-row: 8 / span 5;
    }

    .miembro.full{
      top: 2rem;
    }

    .miembro.full h3{
      top: -2.6em;
    }

    .miembro.dario.full{
      top:0;
    }
     
    /* %% ESCUCHAR %% */
    .spf-player{
      top:22vh;
    }
    .escuchar__links{
      align-self: flex-end;
      height: 22vh;
      gap: 7vw;
      margin-bottom: 15vh;
    }
    .escuchar__links .left{
      text-align: right;
    }

    /* %% REDES %% */
    #redes{
      flex-direction: column;
      gap: 10vw;
      flex-wrap: nowrap;
      
    }
    #redes a{
      margin-bottom: 2rem;
      
    }

    /* %% INFO %% */
    .info__container{
      flex-direction: column;
    }
    .info__text--events .info__content{
      margin-left: 0;
    }
    .info__text--us .info__content{
     margin-top: 65%;
    }
    .event-card{
      margin-bottom: 65%;
    }
    .info__content{
      max-width: 90%;
    }


    /* %% GALLERY %% */
    #galeria .slider{
      width: 100%;
      padding:0 4rem;
      scroll-snap-type: x mandatory;
      
    }

    .square{
      scroll-snap-align: center;
      scroll-snap-stop: always;
    }
    #galeria .slider .square.big{
      flex: 1 0 100vw;
    }

    .video{
      flex: 1 0 90vw;
      border-radius:10px;
    }
    .video iframe{
      border-radius:10px;
      filter:saturate(100%)
    }
  
    :root{
      --info-btn-width: 220px;
      --info-btn-height: 80px;
      --info-btn-fs: 2.8rem;
    }
  }
  
  @media  (orientation:portrait) and (min-width:600px){
    .miembro img{
      border-width: 6px;
    }
    /* .miembro.dani {
      grid-column: 3 / span 9;
      grid-row: 2 / span 8;
      
    }
    .miembro.sara {
      grid-column: 9 / span 7;
      grid-row: 5 / span 4;
      
    }
    .miembro.dario {
      grid-column: 10 / span 5;
      grid-row: 13 / span 6;
      
    }*/
    .miembro.fran {
      grid-column: 2 / span 6;
      grid-row: 13 / span 6;
      
    }
    .video{
      flex: 1 0 50vw;
    }

    #galeria .slider .square.big{
      flex: 1 0 50vw;
    }
     
  }
  @media (min-width: 1200px) {
    :root {
      --logo-size: 120px;
      --menu-item-size: 100px;
      --menu-item-sep: -130px;
      --menu-item-fs: 3rem;

      --info-btn-width: 231px;
      --info-btn-height: 84px;
      --info-btn-fs: 3rem;
    }
  
   
    .miembro.sara {
      grid-row: 3 / span 6;
    }
    .miembro.dario {
      white-space: nowrap;
    }

    /* %% ESCUCHAR %% */

    .escuchar__links{
      gap: 45vw;
    }

    .info__content{
      max-width: 487px;
    }
  
  
  }
  
  @media (min-width: 1600px){
    .miembro.dario {
      grid-row: 8 / span 11;
    }
  
    .miembro.jorge {
      grid-row: 11 / span 5;
    }

    .miembro.full{
      max-width: 800px;
    }
    .miembro.dario.full{
      max-width: 550px;
    }
  }


  @media (hover:none){
   
    .square.big{
      flex: 1 0 500px;
      filter: saturate(102%);
      border-radius: 5px;
      background-position:center;
      z-index: 4;
    }
    .square.video{
      filter: saturate(100%)
    }

    .menu-toggler:checked:not(.toggler-away) ~ img.logo{
      background-image: url("./images/close-icon.svg");
      background-size: 50%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }

    
  }

  @media (hover:hover){
    .square{
      transition: border-radius 250ms ease-in-out,flex 250ms;
    }
    .square:hover{
      flex: 1 0 500px;
      filter: saturate(102%);
      border-radius: 5px;
      background-position:center;
      z-index: 4;
    }

    .square:hover:after{
      background: none !important;
    }
 

    .menu-toggler:checked:not(.toggler-away) ~ img.logo{
      opacity:.85;
    }
    .menu-toggler:checked:not(.toggler-away):hover ~ img.logo{
      opacity:1;
      background-image: url("./images/close-icon.svg");
      background-size: 50%;
      background-position: 50% 50%;
      background-repeat: no-repeat;
    }
  }
