*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bg-img: linear-gradient(to right, #b24592, #f15f79);
  --logo-size: 100px;
  --menu-item-size: 80px;
  --menu-item-sep: -110px;
  --menu-item-fs: 2.5rem;
}

body {
  overflow: hidden;
}

body.color-bg div.bg--color {
  opacity: 1;
}
body:not(.color-bg) div.bg--white {
  opacity: 1;
}

div.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -20;
  transition: opacity 300ms ease-out;
  opacity: 0;
}
div.bg--white {
  background-image: linear-gradient(to right, #f8f8f8, #cfcfcf);
}

div.bg--color {
  background-image: var(--bg-img);
}
.menu-toggler {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: var(--logo-size);
  height: var(--logo-size);
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.logo {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: var(--logo-size);
  z-index: 1;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
/* .menu-toggler:hover + label,
  .menu-toggler:hover + label:before,
  .menu-toggler:hover + label:after{
    background: white;
  }
  .menu-toggler:checked + label {
    background: transparent;
  }
  .menu-toggler:checked + label:before,
  .menu-toggler:checked + label:after{
    top:0;
    width:40px;
    transform-origin: 50% 50%;
  }
  .menu-toggler:checked + label:before {
    transform: rotate(45deg) translateY(-15px) translateX(-15px);
  }
  .menu-toggler:checked + label:after {
    transform: rotate(-45deg);
  } */
.menu-toggler:checked ~ ul .menu-item {
  opacity: 1;
}
.menu-toggler:checked ~ ul .menu-item:nth-child(1) {
  transform: rotate(18deg) translate(var(--menu-item-sep));
}
.menu-toggler:checked ~ ul .menu-item:nth-child(2) {
  transform: rotate(90deg) translateX(var(--menu-item-sep));
}
.menu-toggler:checked ~ ul .menu-item:nth-child(3) {
  transform: rotate(162deg) translateX(var(--menu-item-sep));
}
.menu-toggler:checked ~ ul .menu-item:nth-child(4) {
  transform: rotate(234deg) translateX(var(--menu-item-sep));
}
.menu-toggler:checked ~ ul .menu-item:nth-child(5) {
  transform: rotate(306deg) translateX(var(--menu-item-sep));
}
/* .menu-toggler:checked ~ ul .menu-item:nth-child(6) {
  transform: rotate(300deg) translateX(var(--menu-item-sep));
} */
.menu-toggler:checked ~ ul .menu-item a {
  pointer-events: auto;
}
/* .menu-toggler + label {
  width: 40px;
  z-index: 1;
  border-radius: 2.5px;

  transition: transform 0.5s top 0.5s;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
} */
/* .menu-toggler + label:before,
  .menu-toggler + label:after {
    width: 40px;
    height: 5px;
    display: block;
    z-index: 1;
    border-radius: 2.5px;
    background: rgba(255, 255, 255, 0.7);
    transition: transform 0.5s top 0.5s;
    content: "";
    position: absolute;
    display: block;
    left: 0;
  }
  .menu-toggler + label:before {
    top: 10px;
  }
  .menu-toggler + label:after {
    top: -10px;
  } */
.menu-item:nth-child(1) a {
  transform: rotate(-18deg);
}
.menu-item:nth-child(2) a {
  transform: rotate(-90deg);
}
.menu-item:nth-child(3) a {
  transform: rotate(-162deg);
}
.menu-item:nth-child(4) a {
  transform: rotate(-234deg);
}
.menu-item:nth-child(5) a {
  transform: rotate(-306deg);
}
/* .menu-item:nth-child(6) a {
  transform: rotate(-300deg);
} */
.menu-item {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: var(--menu-item-size);
  height: var(--menu-item-size);
  opacity: 0;
  transition: 0.5s;
}
.menu-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: var(--menu-item-size);
  color: rgba(255, 255, 255, 1);
  background: rgba(230, 230, 250, 0.87);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: var(--menu-item-fs);
  pointer-events: none;
  transition: 230ms;
  z-index: 20;
  position: relative;
}
.menu-item a:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: calc(var(--menu-item-fs) + 0.4rem);
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.86);
  z-index: 50;
}

/* %%%%%%%%%% OVERLAYS %%%%%%%%%%% */
.section-overlay {
  width: 100vw;
  max-height: 100vh;
  position: relative;
  z-index: -1;
  opacity: 0;
  background: transparent;
  transition: opacity 250ms ease-out;
}

.section__title {
  font-size: 3rem;
  text-align: center;
  display:none;
  position: absolute;
  font-size: 4rem;
  left: 20%;
  z-index: 20;

  padding-top: 0.2em;
  font-family: "Ubuntu", sans-serif;
}

/* MIEMBROS */
.miembros__grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(20, 5vh);
}
#miembros.open {
  opacity: 1;
}
.miembro {
  width: auto;
  position: relative;
  opacity: 0;
}

.miembro img {
  width: 100%;
  border: 12px solid rgb(250, 250, 250);
  border-radius: 3px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  position: relative;
}

.miembro h3 {
  position: absolute;
  font-family: "Bangers", sans-serif;
  color: white;
  font-size: clamp(1rem,4vw,2.5rem);
  text-align: center;
  letter-spacing: 2px;
}
.miembro.diego h3,
.miembro.sara h3 {
  top: -1.6em;
  white-space: nowrap;
}
.miembro.diego {
  grid-column: 3 / span 5;
  grid-row: 5 / span 8;
  transform: translate(70%, 45%) scale(0.5);
}
.miembro.sara {
  grid-column: 10 / span 5;
  grid-row: 5 / span 6;
  transform: translate(-70%, 90%) scale(0.5);
}
.miembro.dario {
  grid-column: 13 / span 3;
  grid-row: 11 / span 11;
  transform: translate(-180%, -40%) scale(0.5);
}
.miembro.fran {
  grid-column: 2 / span 5;
  grid-row: 13 / span 6;
  transform: translate(70%, -45%) scale(0.5);
}
.miembro.jaime {
  grid-column: 8 / span 4;
  grid-row: 12 / span 5;
  transform: translate(-20%, -45%) scale(0.5);
}

@media (max-width: 340px) {
  :root {
    --logo-size: 80px;
    --menu-item-size: 60px;
    --menu-item-sep: -80px;
    --menu-item-fs: 2rem;
  }
}
@media (max-width: 600px){
  .miembro img{
    border-width: 6px;
  }
  .miembro.diego {
    grid-column: 3 / span 8;
    grid-row: 3 / span 8;
    
  }
  .miembro.sara {
    grid-column: 8 / span 8;
    grid-row: 7 / span 4;
    
  }
  .miembro.dario {
    grid-column: 11 / span 5;
    grid-row: 11 / span 11;
    
  }
  .miembro.fran {
    grid-column: 2 / span 8;
    grid-row: 16 / span 6;
    
  }
  .miembro.jaime {
    grid-column: 3 / span 6;
    grid-row: 10 / span 5;
    
  }
}

@media (min-width: 1200px) {
  :root {
    --logo-size: 120px;
    --menu-item-size: 100px;
    --menu-item-sep: -130px;
    --menu-item-fs: 3rem;
  }

  .miembro.diego {
    grid-row: 3 / span 8;
  }
  .miembro.sara {
    grid-row: 3 / span 6;
  }


}

@media (min-width: 1600px){
  .miembro.dario {
    grid-row: 9 / span 11;
  }

  .miembro.fran {
    grid-row: 11 / span 6;
  }

  .miembro.jaime {
    grid-row: 10 / span 5;
  }
}

@keyframes miembroImageAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-12px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
/* .bg-fade-animation{
  animation: bg-fade 1s ease-in-out forwards;
}

@keyframes bg-fade {
  0%{
    opacity:1;
  }
  50%{
    opacity:0.4;
  }
  100%{
    opacity:1;
  }
} */
