*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bg-img: linear-gradient(to right, #ff7053, #ff0c0c);
  --logo-size: 100px;
  --menu-item-size: 80px;
  --menu-item-sep: -110px;
  --menu-item-fs: 2.5rem;

  /* %%%% BG %%%%%% */
  --primary-color: #f3ff525f;
  --secondary-color: #4890b164;
  --third-color: #4fd3c355;
  --bg-anim-time: 15s;

  --redes-size: clamp(3rem, 9vw, 12rem);

  --info-btn-width: 180px;
  --info-btn-height: 57px;
  --info-btn-fs: 1.8rem;
}
html{
  height: 100%;
}
body {
  overflow: hidden;

}

.loading-screen{
  width:100%;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position:fixed;
  z-index: 20;
  transition: opacity 500ms ease;
}

body.color-bg div.bg--color {
  opacity: 1;
}
body:not(.color-bg) div.bg--white {
  opacity: 1;
}

div.bg {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: -20;
  transition: opacity 1s ease-out;
  opacity: 0;
}
div.bg--white {
  --sky-duration:5s;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.title{
  width: 80vw;
  max-width: 1100px;
  margin-bottom: 25rem;
  
}
.title img{
  width: 100%;
  animation: floatNoShadows 5s infinite;
}

.bubble-gif{
  z-index:-1;
  width: calc(var(--logo-size) *2);
  height: calc(var(--logo-size) *2);
  position:absolute;
  margin:0 auto;
}
.bubble-gif video{
  width: calc(var(--logo-size) *2);
  height: calc(var(--logo-size) *2);
 
}

div.bg--color {
  background-image: var(--bg-img);
  overflow: hidden;
}

.bg--color span {
  width: 75vmin;
  height: 75vmin;
  backface-visibility: hidden;
  position: absolute;
 
  z-index:-20;
  box-shadow: -40vmin 0 60vmin currentColor;
}

.bg--color.start span{
  animation: move 6s linear infinite;
}

.bg--color span:nth-child(1) {
  color: var(--primary-color);
  top: 47%;
  left: 70%;
  animation-duration: calc(var(--bg-anim-time) + 0.5s);
  animation-delay: -1.3s;
  transform-origin: 23vw -17vh;
  
}
.bg--color span:nth-child(2) {
  color: var(--secondary-color);
  top: 67%;
  left: 35%;
  animation-duration: calc(var(--bg-anim-time) + 5s);
  animation-delay: -8.3s;
  transform-origin: 22vw 16vh;
  
}
.bg--color span:nth-child(3) {
  color: var(--primary-color);
  top: 53%;
  left: 90%;
  animation-duration: calc(var(--bg-anim-time) + 5.6s);
  animation-delay: -10.4s;
  transform-origin: 23vw -18vh;
  
}
.bg--color span:nth-child(4) {
  color: var(--primary-color);
  top: 65%;
  left: 79%;
  animation-duration: calc(var(--bg-anim-time) + 4.3s);
  animation-delay: -9s;
  transform-origin: -23vw -10vh;
  
}
.bg--color span:nth-child(5) {
  color: var(--third-color);
  top: 75%;
  left: 95%;
  animation-duration: calc(var(--bg-anim-time) + 3.6s);
  animation-delay: -7.1s;
  transform-origin: -21vw -10vh;
  
}
.bg--color span:nth-child(6) {
  color: var(--primary-color);
  top: 45%;
  left: 59%;
  animation-duration: calc(var(--bg-anim-time) + 0.9s);
  animation-delay: -10.4s;
  transform-origin: -5vw -20vh;
  
}
.bg--color span:nth-child(7) {
  color: var(--secondary-color);
  top: 54%;
  left: 91%;
  animation-duration: calc(var(--bg-anim-time) + 4.4s);
  animation-delay: -6.1s;
  transform-origin: -8vw 25vh;
  
}
.bg--color span:nth-child(8) {
  color: var(--primary-color);
  top: 31%;
  left: 37%;
  animation-duration: calc(var(--bg-anim-time) + 1.9s);
  animation-delay: -6.6s;
  transform-origin: 18vw -12vh;
  
}
.bg--color span:nth-child(9) {
  color: var(--primary-color);
  top: 30%;
  left: 77%;
  animation-duration: calc(var(--bg-anim-time) + 1.2s);
  animation-delay: -8.6s;
  transform-origin: 16vw -14vh;
  
}
.bg--color span:nth-child(10) {
  color: var(--secondary-color);
  top: 23%;
  left: 31%;
  animation-duration: calc(var(--bg-anim-time) + 2.6s);
  animation-delay: -0.5s;
  transform-origin: -7vw -5vh;
  
}

nav.menu{
  height:0;
}
.menu-toggler,.logo{
  position: absolute;
  transition: transform 200ms ease-in, 
              left 500ms ease-in-out, 
              bottom 500ms ease-in-out;
  top: 0;
  right: 0;
  left:0;
  bottom:0;
  margin: auto;
}
.menu-toggler.toggler-away,
.menu-toggler.toggler-away ~ img.logo
{
  position: fixed;
  animation: none;
  left: calc(100% - var(--logo-size));
  bottom: calc(100% - var(--logo-size));
  transform: scale(0.6);
}



.menu-toggler {
  display: block;
  width: var(--logo-size);
  height: var(--logo-size);
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}
.logo {
  display: inline-block;
  padding: 8px;
  width: var(--logo-size);
  height: var(--logo-size);
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4);
  animation: pulse 2s infinite;
  
  
}

.menu-toggler:hover ~ .logo   {
  animation:none;
}


.menu-toggler:checked ~ ul .menu-item {
  opacity: 1;
}
.menu-toggler:checked ~ ul .menu-item:nth-child(1) {
  transform: rotate(18deg) translate(var(--menu-item-sep));
}
.menu-toggler:checked ~ ul .menu-item:nth-child(2) {
  transform: rotate(90deg) translateX(var(--menu-item-sep));
}
.menu-toggler:checked ~ ul .menu-item:nth-child(3) {
  transform: rotate(162deg) translateX(var(--menu-item-sep));
}
.menu-toggler:checked ~ ul .menu-item:nth-child(4) {
  transform: rotate(234deg) translateX(var(--menu-item-sep));
}
.menu-toggler:checked ~ ul .menu-item:nth-child(5) {
  transform: rotate(306deg) translateX(var(--menu-item-sep));
}
/* .menu-toggler:checked ~ ul .menu-item:nth-child(6) {
  transform: rotate(300deg) translateX(var(--menu-item-sep));
} */
.menu-toggler:checked ~ ul .menu-item a {
  pointer-events: auto;
}





.menu-item:nth-child(1) a {
  transform: rotate(-18deg);
  background: linear-gradient(to right, #c13584f7, #ff1783f4);
}
.menu-item:nth-child(2) a {
  transform: rotate(-90deg);
  background: linear-gradient(to right, #38e05ff5, #38e0caf5);
}
.menu-item:nth-child(3) a {
  transform: rotate(-162deg);
  background: linear-gradient(to right, #45ffd7f9, #5757f4f3);
}
.menu-item:nth-child(4) a {
  transform: rotate(-234deg);
  background: linear-gradient(to right, #f5c842f4, #fa6746f3);
}
.menu-item:nth-child(5) a {
  transform: rotate(-306deg);
  background: linear-gradient(to right, #a946faf8, #fd7afff4);
}
/* .menu-item:nth-child(6) a {
  transform: rotate(-300deg);
} */
.menu-item {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: var(--menu-item-size);
  height: var(--menu-item-size);
  opacity: 0;
  transition: 0.5s;
}
.menu-item a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: var(--menu-item-size);
  color: rgba(255, 255, 255, 1);
  background: rgba(230, 230, 250, 0.87);
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  font-size: var(--menu-item-fs);
  pointer-events: none;
  transition: 230ms;
  z-index: 20;
  position: relative;
}
.menu-item a:hover {
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.563);
  color: white;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  font-size: calc(var(--menu-item-fs) + 0.4rem);
  box-shadow: 0px 0px 0px 4px rgba(255, 255, 255, 0.86);
  z-index: 50;
}




/* %%%%%%%%%%%%%%%%%%%%% OVERLAYS %%%%%%%%%%%%%%%%%%%%%% */


.section-overlay {
  width: 100vw;
  height:100%;
  position: absolute;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  background: transparent;
  transition: opacity 250ms ease-out;
  overflow: hidden;
}

.section-overlay.open {
  opacity: 1;
  pointer-events: all;
  
}
.section__title {
  font-size: 3rem;
  text-align: center;
  display: none;
  position: absolute;
  font-size: 4rem;
  left: 20%;
  z-index: 20;

  padding-top: 0.2em;
  font-family: "Ubuntu", sans-serif;
}




/*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
                /* MIEMBROS */
/*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
.miembros__grid {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(20, 5vh);
  
  margin: 0 auto;
}
.miembro {
  width: auto;
  position: relative;
  opacity: 0;
  transition: margin 300ms;
  cursor: pointer;
}

.miembro img {
  width: 100%;
  border: 12px solid rgb(250, 250, 250);
  border-radius: 3px;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  position: relative;
}

.miembro h3 {
  position: absolute;
  font-family: "Bangers", sans-serif;
  color: white;
  font-size: clamp(1rem, 3vw, 2.3rem);
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 3px 3px 3px rgba(36, 36, 36, 0.83);
}
.miembro.celia h3,
.miembro.sara h3 {
  top: -1.6em;
  white-space: nowrap;
}
.miembro.celia {
  grid-column: 5 / span 4;
  grid-row: 4 / span 4;
  transform: translate(70%, 45%) scale(0.5);
}
.miembro.sara {
  grid-column: 10 / span 4;
  grid-row: 5 / span 6;
  transform: translate(-70%, 90%) scale(0.5);
}
.miembro.dario {
  grid-column: 13 / span 3;
  grid-row: 8 / span 11;
  transform: translate(-180%, -40%) scale(0.5);
  
}
.miembro.fran {
  grid-column: 2 / span 4;
  grid-row: 7 / span 4;
  transform: translate(70%, -45%) scale(0.5);
}
.miembro.jaime {
  grid-column: 7 / span 5;
  grid-row: 11 / span 5;
  transform: translate(-20%, -45%) scale(0.5);
}

.miembro.full {
  z-index: 200;
  position: absolute;
  top: 0;bottom:0;right:0;left:0;
  margin: 10vh auto;
  max-width: 90vw;
  max-height: 80vh;
}
.miembro.sara.full img{
  object-position: 0 -0%;
}
.miembro.full img{
  object-fit: cover;
  max-height:100%;
  object-position: 15% 15%;
}

.miembro.full h3{
  background-color: white;
  text-shadow: none;
  padding: .8rem;
  z-index: -1;
  color: black;
  top: -1.6em;
}


.miembro:not(.full) img:hover{
  animation: wiggle .7s ease-in-out!important;
}


/*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
                /* ESCUCHAR */
/*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#escuchar {
  width: 100vw;
  height: 100vh;
}
.escuchar__container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
}
.random-btn {
  font-size: clamp(2rem, 7vw, 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 13vh;
  border-radius: 50%;
}

#play-random {
  color: white;
  border: none;
  padding: 0;
  background: none;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor:pointer;
  opacity: 0;
  transform: translateY(120%) scale(0.5);
}

#play-random.playing{
  box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF,
   0 0 20px #fff018, 0 0 30px #ffff18, 0 0 40px #dcff18, 0 0 55px #ffd118,
   0 0 75px #49ff18;
   border-radius: 50%;
}

#play-random .triangle {
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  stroke-dasharray: 240;
  stroke-dashoffset: 480;
  stroke: #000;
  transform: translateY(0);
}

#play-random.playing .triangle {
  stroke-dashoffset: 0;
  opacity: 1;
  stroke: white;
  animation: nudge 0.7s ease-in-out;
}

#play-random.playing .circle {
  stroke-dashoffset: 0;
  opacity: 1;
  
}

.circle {
  stroke: white;
  stroke-dasharray: 720;
  stroke-dashoffset: 720;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0.3;
  
}

.escuchar__links{
  align-self: center;
  display:flex;
  height: 30vh;
  gap: 30vw;
  
}

.escuchar__links__container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.escuchar__links__container.left{
  transform: translate(-250%,0%) scale(0.9);
}
.escuchar__links__container.right{
  transform: translate(250%,0%) scale(0.9);
}

.escuchar__links a{
  text-decoration: none;
  color: white;
  font-size: clamp(1.3rem, 4vw , 2rem);
  font-family: "Ubuntu", sans-serif;
  transition: transform 175ms ease-in;
}

.escuchar__links a:hover{
  transform: scale(1.080);
}



/*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
                /* REDES */
/*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
#redes{
  display:flex;
  gap: 20vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;

  padding: 5vw;
}

#redes a{
  text-decoration: none;
  color:white;
  font-size: var(--redes-size);
  opacity: 0;
  transition: color 500ms ease-in-out,
  text-shadow 500ms ease-in-out;
 
}


#redes a:nth-child(1){
  transform: translate(320%, 160%) scale(0.5);
}
#redes a:nth-child(2){
  transform: translate(0%, 160%) scale(0.5);
}
#redes a:nth-child(3){
  transform: translate(-320%, 160%) scale(0.5);
}
#redes a:nth-child(4){
  transform: translate(160%, -160%) scale(0.5);
}
#redes a:nth-child(5){
  transform: translate(-190%, -160%) scale(0.5);
}

#redes a:nth-child(1):hover{
  color: #00acee;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 16px #00acee, 0 0 23px #00acee, 0 0 30px #00acee, 0 0 40px #00acee, 0 0 46px #00acee;
}
#redes a:nth-child(2):hover{
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 16px #ff18f0, 0 0 23px #ff18f0, 0 0 30px #ff18f0, 0 0 40px #ff18f0, 0 0 46px #ff18f0;
}
#redes a:nth-child(3):hover{
  color:#4267B2;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 16px #5a8aea, 0 0 23px #5388f2, 0 0 30px #6f9fff, 0 0 40px #4f86f5, 0 0 46px #4267B2;
}
#redes a:nth-child(4):hover{
  text-shadow: 8px 6px 8px rgba(251, 255, 31, 0.83), -8px -6px 8px #C90E0E, 8px -6px 8px rgba(27, 255, 80, 0.852), -6px 8px 8px #2487ff;
}
#redes a:nth-child(5):hover{
  text-shadow: 7px 7px 0px #E71D4F, -5px -6px 0px #65C3C9;
}


/*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
                /* INFO */
/*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#info{
  height: calc(100vh - calc(100vh - 100%));
  padding: 10vh 0;
  
}

.info__container{
  width: 80%;
  height: 100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.info__text{
  width: 30vw;
  font-size: clamp(1rem, 2vw , 1.8rem);
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.976);
  font-weight: 500;
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
  
}

.info__btn{
  font-size: var(--info-btn-fs);
  font-family: "Ubuntu",sans-serif;
  font-weight: 600;
  text-shadow:2px 2px 2px rgba(40, 40, 40, 0.7);
  color:white;
  cursor: pointer;
  position: absolute;
  background:none;
  border: none;
  width: var(--info-btn-width);
  padding: .3em .7em;
  transition: text-shadow 400ms ease-out,
  transform 800ms ease-in;
  opacity: 0;
  
  
}

.info__btn:hover{
  text-shadow:4px 4px 2px rgba(40, 40, 40, 0.7) ;
}
.info__btn svg,
.info__btn svg rect
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: transparent;
}
.info__btn svg rect
{
	stroke: #00e2ff;
	stroke-width: 8;
	transition: 1s;
	stroke-dasharray: var(--info-btn-height) var(--info-btn-width);
	stroke-dashoffset: 320;
}
.info__btn:hover svg rect
{
	stroke: #ff0;
	stroke-dasharray: var(--info-btn-width) var(--info-btn-height);
	stroke-dashoffset: 0;
}

.info__content{
  --card-main-clr:#d951e3ba;
  background-color: #ffffff01;
  backdrop-filter: blur(5px);
  position: absolute;
  max-width: 40vw;
  border-radius: 15px;
  font-family: "Ubuntu", sans-serif;
  cursor:pointer;
  transform: translateY(300%);
  transition: transform 800ms 250ms cubic-bezier(.18,.42,.22,1.36),
  opacity 800ms;
  box-shadow: 8px 12px 12px 5px rgba(0,0,0,0.5);
  opacity: 0;
  overflow: hidden;
}

.info__content.open{
  transform: translateY(0%);
  opacity: 1;
  z-index: 3;
  
}

.info__text--events .info__content{
  background: none;
  box-shadow: none;
  padding: 0;
}

.info__text--us .info__content{
  margin-left: 30px;
  background-size: cover;
  background-color: #ffffff87;
  background-position: 55%;
}

.info__tittle{
  color:rgb(255, 255, 255);
  font-size: 1.2em;
  padding:.8em;
  background-color: var(--card-main-clr);
}
.info__text--us .info__content p{
  font-size: 1.4rem;
  padding: 1em;
  color: #2d2d2d;
}

.event-card {
  display: inline-block;
  font-size: clamp(.8rem, 3vw, 1rem);
  margin: 0 0 1em;
  width: 100%;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  padding: 5% 5% 0 5%;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-color: #ffffff87;
}
.event-card p.card-tag {
  background-color: grey;
  color: white;
  margin-top: 0;
  padding: 2% 0 2% 7%;
  width: 80%;
  text-transform: uppercase;
  position: relative;
  font-size: 16px;
  z-index: 99;
}
.card-calendar {
  padding: 0;
}
.card-calendar p.card-tag {
  margin: 0%;
  background-color: var(--card-main-clr);
  width: 100%;
  padding: 6%;
}
.card-calendar p.card-tag .fa {
  margin-right: 5%;
  text-align: center;
  float: left;
}
.card-calendar .more-concerts .card-tag {
  margin-bottom: 1em;
  background-color: var(--card-main-clr);
  color: white;
  margin-left: 20%;
  line-height: 2.5;
  padding-left: 1.5em;
}
.event-card div.calendar-item:not(:last-of-type) {
  border-bottom: 1px dotted grey;
}
.calendar-item {
  padding: 6% 1%;
}
.calendar-item .event-date {
  float: left;
  padding-top: 1%;
  margin: 0;
  max-width: 23%;
  text-align: center;
  width: 20%;
}
.calendar-item .event-date .date-only {
  display: block;
}
.calendar-item .event-date .month, .calendar-item .event-date .day, .calendar-item .event-date .time {
  display: block;
  text-align: center;
}
.calendar-item .event-date .month {
  text-transform: uppercase;
  line-height: 1em;
}
.calendar-item .event-date .day {
  font-size: 1.8em;
}
.calendar-item .event-date .time {
  font-size: 0.9em;
}
.calendar-item .event-info {
  border-left: 2px solid var(--card-main-clr);
  max-width: 75%;
  padding-left: 5%;
  float: left;
}
.calendar-item .event-info a{
  text-decoration: none;
}
.calendar-item .event-info a h3 {
  color: black;
  margin-top: 0;
  font-size: 1.1em;
  padding-bottom: 4px;
  margin-bottom: 4px;
}
.calendar-item .event-info p {
  font-size: 0.9em;
  margin-bottom: 0px;
  margin-top: 4px;
  line-height: 1.5;
}
.calendar-item .event-date, .calendar-item .event-info p {
  color: #000000d8;
}
.masonry-item {
  display: inline-block;
  width: 100%;
}


/*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/
                /* GALERIA */
/*  %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

#galeria{
  display:flex;
  
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#galeria .slider{
  display:flex;
  gap: 2.5rem;
  width: 80vw;
  overflow-x: auto;
  overflow-y:hidden;
  
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#galeria .slider.videos{
  transform:translateX(-200%)
}
#galeria .slider.fotos{
  transform:translateX(200%)
}


#galeria .slider.no-scroll-snap{
  scroll-snap-type: none;
}

#galeria .slider::-webkit-scrollbar{
  display:none;
}

.square{
  flex: 0 0 300px;
  height: 300px;
  border-radius: 50%;
  scroll-snap-align: start;
  background-size: cover !important ;
  background-position:center !important;
  transition: border-radius 250ms ease-in-out,flex 250ms;
  filter: saturate(25%);
  cursor: pointer;
  
}
/* .video:not(.square){
  flex: 1 0 500px;
  position: relative;
} */

iframe.square{
  width: 100%;
}

iframe.square.isScrolling{
  pointer-events: none;
}



/* %%%%%%%%%%% reusable classes %%%%%%%%%% */

.display-none{
  display: none;
}

.low-opacity{
  opacity: 0;
  
}
.no-mouse{
  pointer-events: none;
}

@keyframes miembroImageAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0%, 0%) scale(1);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-12px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes floatNoShadows {
  0% {
    
    transform: translatey(0px);
  }
  50% {
    
    transform: translatey(-12px);
  }
  100% {
    
    transform: translatey(0px);
  }
}

@keyframes nudge {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes infoBtnAnimation {
  0%{
    stroke-dasharray: var(--info-btn-height) var(--info-btn-width);
	  stroke-dashoffset: 320;
  }

  33%{
    stroke-dasharray: var(--info-btn-height) var(--info-btn-width);
	  stroke-dashoffset: 320;
  }

  66%{
    
	  stroke-dasharray: var(--info-btn-width) var(--info-btn-height);
	  stroke-dashoffset: 0;
  }
 
  100%{
   
    stroke-dasharray: var(--info-btn-height) var(--info-btn-width);
	  stroke-dashoffset: 320;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 2px 0 rgba(120, 120, 120, 0.4);
    box-shadow: 0 0 2px 0 rgba(109, 109, 109, 0.4);
    transform: scale(1);
  }
  50% {
      -moz-box-shadow: 0 0 30px 15px rgba(204,169,44, 0);
      box-shadow: 0 0 30px 15px rgba(204,169,44, 0);
      transform: scale(1.085);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      transform: scale(1.085);
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
 }
}

@keyframes wiggle {
  20% {
    box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(4deg);
  }
  
  40% {
    box-shadow:  inset -11px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(-7deg);
  }
  
  60% {
    box-shadow:  inset -5px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(3deg);
  }
  
  80% {
    box-shadow:  inset -8px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(-2deg);
  }
  
  100% {
    box-shadow:  inset -7px 0 5px 0 rgba(0,0,0,.4);
    transform: rotate(0deg);
  }
}

@keyframes rotateX {
  0% {
      opacity: 0;
      transform: rotateX(-90deg);
  }
  50% {
      transform: rotateX(-20deg);
  }
  100% {
      opacity: 1;
      transform: rotateX(0deg);
  }
}



